<header>
  <div class="container">
    <div class="brand">
      <img src="assets/icon/logo.png" alt="Logo de la marca">
    </div>
    <div class="menu" style="float: right; padding: 10px;">
      <button><span>Consultanos ya</span></button>
    </div>
  </div>
</header>
<main>
  <video autoplay loop muted="muted" playsinline controlslist="nodownload" id="video-fondo">
    <source src="assets/Blockbienesraices - Video.mp4" type="video/mp4">
  </video>
  <h1>Haciendo realidad
    casas soñadas.</h1>
</main>

